@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #ff3e6c;
    --secondary-color: #ff3e6c;
    --background-dark-color: #10121A;
    --background-light-color: #F1F1F1;
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: rgba(1, 13, 27, 0.9);
    --border-color: #2e344e;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --background-dark-color-2: rgba(3, 127, 255, 0.4);
    --background-dark-color-3: rgba(3, 127, 255, 0.6);
}
